h4{
    font-size:15px;
}
p:hover {
    background-color:hotpink;
  }
h4{
    color:brown;
}
h3{
    color:wheat;
}
h3{
    font-size:20px;
}

p{
    color:gold;
}
span{
    color:green;
}
span:hover{
    background-color:cornflowerblue;
}
h3{
    font-style:inherit;
}

h4{
    font-style: italic;
}
.chorus{
font-size:20px;
color:rgb(65, 37, 52);
}
.Songs{
    font-size:20;
    color:rgb(109, 147, 160);
}
